
//------------------------------------------------------------------
// WEEK TEMPLATE
//-------------------------------------------------------------------

.week {
    position: relative;
    margin: $globals-padding 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: $white;
    padding: $globals-padding;
    box-sizing: border-box;

    @media (min-width: $screen-sm) {
        float: left;
        margin: $globals-padding 1%;
        width: 48%;

        &:nth-child(2n + 1) {
            clear: both;
        }
    }

    &__key {
        display: inline-block;
        float: left;
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
        padding: 6px;
        font-size: 16px;
        color: $white;
        font-family: 'MuseoSansRounded-500', Arial, sans-serif;

        &:before {
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            border-radius: 50%;
            background: $globals-color;
            z-index: -1;
            margin: auto;
            padding: 4px;
            content: ' ';
        }
    }

    &__date {
        display: block;
        text-align: right;
    }

    &__data {
        display: flex;

        &__cards,
        &__points {
            flex: 1;
            text-align: center;
        }
    }
}
