<!-- Template week -->
<div class="week" js-template-week hidden>
    <div class="week__key" js-week-key></div>
    <div class="week__last-updated" js-week-last-updated hidden></div>
    <div class="week__date">
        <span class="week__date__start" js-week-start></span>
        to
        <span class="week__date__end" js-week-end></span>
    </div>
    <div class="week__data">
        <div class="week__data__cards" js-week-cards></div>
        <div class="week__data__points" js-week-points></div>
    </div>
</div>
