
//------------------------------------------------------------------
// PAGE SUPPORT
//-------------------------------------------------------------------

.page-support {
    @include page;

    &__repartition {
        @include clear;

        margin: $globals-padding 0;
        text-align: center;

        &__chart {
            @include chart;
            margin-bottom: 60px;

            @media (min-width: $screen-lg) {
                float: left;
                width: 48%;

                &:last-child {
                    float: right;
                }
            }
        }
    }

    &__list {
        margin-top: 60px;
    }

    .topic {
        @include page-card;
    }
}
