
//------------------------------------------------------------------
// PAGE SUPPORT
//-------------------------------------------------------------------

.page-support {
    @include page;

    &__repartition {
        margin: $globals-padding 0;
        text-align: center;

        &__chart {
            @include chart;
        }
    }

    &__list {
        margin-top: 60px;
    }

    .topic {
        margin: $globals-padding 0;

        @media (min-width: $screen-sm) {
            float: left;
            margin: $globals-padding 0 $globals-padding 2%;
            width: 48%;

            &:nth-child(2n + 1) {
                clear: both;
                margin: $globals-padding 2% $globals-padding 0;
            }
        }
    }
}
