
//------------------------------------------------------------------
// WEEK TEMPLATE
//-------------------------------------------------------------------

.week {
    @include card;

    &__header {
        padding: $globals-padding;

        &--clickable {
            cursor: pointer;
        }

        &__key {
            display: inline-block;
            position: relative;
            float: left;
            z-index: 1;
            margin-top: 6px;
            margin-left: 5px;
            padding: 6px;
            width: 30px;
            height: 30px;
            color: $white;
            font-family: 'MuseoSansRounded-500', Arial, sans-serif;
            font-size: 16px;

            &:before {
                position: absolute;
                top: -4px;
                right: -4px;
                bottom: -4px;
                left: -4px;
                z-index: -1;
                margin: auto;
                border-radius: 50%;
                background: $globals-color;
                padding: 4px;
                content: ' ';
            }
        }

        &__date {
            display: block;
            text-align: right;
            font-size: 18px;
        }

        &__total {
            padding-top: 5px;
            text-align: right;

            &__available,
            &__spent {
                display: inline-block;
            }

            &__available {
                margin-right: $globals-padding;
            }
        }

        &__activity {
            @include clear;

            display: block;
            margin: $globals-padding 0 0;
            padding: $globals-padding 0 0;
            list-style-type: none;

            &__monitoring,
            &__support,
            &__delivery,
            &__product {
                float: left;
                padding: 0;
                width: 25%;
                overflow: hidden;
                text-align: center;

                &__label {
                    display: block;
                }

                &__value {
                    display: inline-block;
                    margin-top: $globals-padding;
                    font-size: 26px;
                }

                &__points {
                    display: block;
                    transition: $globals-transition;
                    margin-top: 5px;
                    max-height: 0;
                    overflow: hidden;
                }
            }
        }
    }

    &__cards {
        transition: $globals-transition;
        margin: 0 $globals-padding;
        max-height: 0;
        overflow: hidden;

        &__cards-count {
            margin-bottom: $globals-padding;
            border-top: $week-border;
            padding-top: $globals-padding;
            text-align: center;
        }
    }

    &.active {
        .week__header__activity {
            &__monitoring,
            &__support,
            &__delivery,
            &__product {
                &__points {
                    max-height: 100px;
                }
            }
        }

        .week__cards {
            padding-bottom: $globals-padding;
            max-height: 800px;
        }
    }
}
