<!-- Template week -->
<div class="week" js-template-week hidden>
    <div class="week__header" js-week-header>
        <div class="week__header__key" js-week-key></div>
        <div class="week__header__last-updated" js-week-last-updated hidden></div>
        <div class="week__header__date">
            <span class="week__header__date__start" js-week-start></span>
            to
            <span class="week__header__date__end" js-week-end></span>
        </div>
        <div class="week__header__total">
            <div class="week__header__total__available">Available: </span><span js-week-available></span></div>
            <div class="week__header__total__spent">Spent: <span js-week-spent></span></div>
        </div>

        <ul class="week__header__activity">
            <li class="week__header__activity__process" js-week-process-percent-container>
                <span class="week__header__activity__process__label">Process</span>
                <span class="week__header__activity__process__points" js-week-process></span>
                <span class="week__header__activity__process__value" js-week-process-percent></span>
            </li>
            <li class="week__header__activity__support" js-week-support-percent-container>
                <span class="week__header__activity__support__label">Support</span>
                <span class="week__header__activity__support__points" js-week-support></span>
                <span class="week__header__activity__support__value" js-week-support-percent></span>
            </li>
            <li class="week__header__activity__project" js-week-project-percent-container>
                <span class="week__header__activity__project__label">Project</span>
                <span class="week__header__activity__project__points" js-week-project></span>
                <span class="week__header__activity__project__value" js-week-project-percent></span>
            </li>
            <li class="week__header__activity__product" js-week-product-percent-container>
                <span class="week__header__activity__product__label">Product</span>
                <span class="week__header__activity__product__points" js-week-product></span>
                <span class="week__header__activity__product__value" js-week-product-percent></span>
            </li>
        </ul>
    </div>
    <div class="week__cards">
        <div class="week__cards__cards-count" js-week-count></div>
        <div class="week__cards__list" js-week-cards></div>
    </div>
</div>
