
//------------------------------------------------------------------
// CARD TEMPLATE
//-------------------------------------------------------------------

.card {
    display: flex;

    padding: 5px 0;

    &__name {
        @include ellipsis;

        position: relative;
        flex: 3;
        margin: 0 15px 0 0;

        &__type {
            position: absolute;
            top: 4px;
            left: 0;
            border-radius: 50%;
            width: 8px;
            height: 8px;

            &--process {
                background: $globals-process-color;
            }

            &--product {
                background: $globals-product-color;
            }

            &--support {
                background: $globals-support-color;
            }

            &--project {
                background: $globals-project-color;
            }
        }

        &__link {
            @include ellipsis;
            display: block;
            transition: $globals-transition;
            margin-left: 15px;
            text-decoration: none;
            color: $globals-color;

            &:hover,
            &:focus,
            &:active,
            &.active {
                text-decoration: none;
            }
        }
    }

    &__labels {
        flex: 2;
        text-align: center;
        font-size: 12px;
    }

    &__week {
        flex: 1;
        text-align: center;
    }

    &__version {
        flex: 2;
        text-align: center;

        @media (min-width: $screen-sm) {
            flex: 1;
        }

        &__value {
            @include badge;
            opacity: .2;

            &--V3 {
                opacity: 1;
            }
        }
    }

    &__spent {
        flex: 2;
        text-align: right;

        @media (min-width: $screen-sm) {
            flex: 1;
        }
    }
}
