<!-- Template card -->
<div class="card" js-template-card hidden>
    <div class="card__name">
        <div class="card__name__type" hidden js-card-type></div>
        <a class="card__name__link" target="_blank" js-card-name></a>
    </div>
    <div class="card__labels" hidden js-card-labels></div>
    <div class="card__week" hidden js-card-week></div>
    <div class="card__version" hidden js-card-version>
        <span class="card__version__value" hidden js-card-version-value></span>
    </div>
    <div class="card__spent" js-card-spent></div>
</div>
