
//------------------------------------------------------------------
// PAGE CLIENTS
//-------------------------------------------------------------------

.page-clients {
    @include page;

    @media (min-width: $screen-sm) {
        padding-top: 30px;
    }

    &__sort {
        display: flex;
        margin-bottom: 0;
        box-shadow: $globals-card-shadow;

        @media (min-width: $screen-sm) {
            float: left;
            margin: 0 0 30px;
            width: 32%;
        }

        &__alpha,
        &__points,
        &__date {
            flex: 1;
            transition: $globals-transition;
            outline: 0;
            border: 0;
            background: $white;
            cursor: pointer;
            padding: 15px;
            text-align: center;

            &:focus,
            &:active,
            &:hover {
                outline: 0;
            }

            &__order {
                display: inline-block;
                transition: $globals-transition;
                opacity: 0;
            }

            &.active {
                background: $clients-active-color;

                .page-clients__sort {
                    &__alpha,
                    &__points,
                    &__date {
                        &__order {
                            opacity: 1;
                        }
                    }
                }
            }

            &[js-clients-sort-order='asc'] {
                .page-clients__sort {
                    &__alpha,
                    &__points,
                    &__date {
                        &__order {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        &__alpha {
            border-left: 0;
        }
    }

    &__filters {
        @include clear;
        margin: $globals-padding 0;

        @media (min-width: $screen-sm) {
            display: flex;
            float: right;
            margin: 0 0 30px;
            border-bottom: 0;
            width: 64%;
        }

        &__name {
            @media (min-width: $screen-sm) {
                flex: 14;
            }

            &__input {
                display: block;
                margin-top: 8px;
                outline: 0;
                border: $globals-border;
                border-radius: 2px;
                box-shadow: 0;
                padding: 10px;
                width: 100%;
                font-size: $globals-font-size;

                @media (min-width: $screen-sm) {
                    margin-top: 0;
                    padding: $globals-padding;
                }
            }
        }

        &__v2,
        &__v3,
        &__complete,
        &__highlight {
            float: left;
            padding: $globals-padding 5px;
            width: 50%;
            text-align: center;

            @media (min-width: $screen-sm) {
                flex: 4;
                float: none;
                text-align: right;
            }
        }

        &__highlight {
            float: right;
            width: 50%;

            @media (min-width: $screen-sm) {
                flex: 7;
                float: none;
            }
        }
    }

    &__count {
        clear: both;
        margin: $globals-padding 0 30px;
        text-align: center;
    }

    &__stats {
        @include clear;

        position: relative;
        margin: $globals-padding 0 30px;
        padding: 0 0 30px;
        text-align: center;
        color: $white;
        font-weight: bold;

        @media (min-width: $screen-sm) {
            padding: 0 0 45px;
        }

        &:before {
            position: absolute;
            right: 30%;
            bottom: 0;
            left: 30%;
            border-bottom: $globals-border;
            content: ' ';
        }

        &__imple,
        &__review {
            @include card;
            @include clear;

            background: $globals-color;
            padding: 10px;

            @media (min-width: $screen-sm) {
                float: left;
                margin: 0 2% 0 0;
                width: 48%;
            }

            &__title {
                margin-top: 0;
                margin-bottom: 10px;
                color: $white;
            }

            &__duration,
            &__spent {
                float: left;
                padding: 5px 0;
                width: 50%;

                &__text {
                    display: inline-block;
                }

                &__value {
                    display: inline-block;
                    font-size: 16px;
                }
            }
        }

        &__review {
            @media (min-width: $screen-sm) {
                float: right;
                margin: 0 0 0 2%;
            }
        }
    }

    &__list {
        @include clear;
    }

    .client {
        @include page-card('large');
    }
}
