
//------------------------------------------------------------------
// GLOBALS
//-------------------------------------------------------------------

@font-face {
    font-family: 'MuseoSansRounded-100';
    src: url('fonts/303098_3_0.eot'),
    url('fonts/303098_3_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_3_0.woff2') format('woff2'),
    url('fonts/303098_3_0.woff') format('woff'),
    url('fonts/303098_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-300';
    src: url('fonts/303098_0_0.eot'),
    url('fonts/303098_0_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_0_0.woff2') format('woff2'),
    url('fonts/303098_0_0.woff') format('woff'),
    url('fonts/303098_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src: url('fonts/303098_2_0.eot'),
    url('fonts/303098_2_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_2_0.woff2') format('woff2'),
    url('fonts/303098_2_0.woff') format('woff'),
    url('fonts/303098_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-700';
    src: url('fonts/303098_5_0.eot'),
    url('fonts/303098_5_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_5_0.woff2') format('woff2'),
    url('fonts/303098_5_0.woff') format('woff'),
    url('fonts/303098_5_0.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body,
body a,
html {
    text-rendering: geometricPrecision;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $globals-bg;
    overflow: hidden;
    font-family: 'MuseoSansRounded-100', Arial, sans-serif;
    font-size: $globals-font-size;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'MuseoSansRounded-300', Arial, sans-serif;
}

button {
    font-size: $globals-font-size;
}
