
//------------------------------------------------------------------
// GLOBALS
//-------------------------------------------------------------------

@font-face {
    font-family: 'MuseoSansRounded-100';
    src: url('fonts/303098_3_0.eot'),
    url('fonts/303098_3_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_3_0.woff2') format('woff2'),
    url('fonts/303098_3_0.woff') format('woff'),
    url('fonts/303098_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-300';
    src: url('fonts/303098_0_0.eot'),
    url('fonts/303098_0_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_0_0.woff2') format('woff2'),
    url('fonts/303098_0_0.woff') format('woff'),
    url('fonts/303098_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src: url('fonts/303098_2_0.eot'),
    url('fonts/303098_2_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_2_0.woff2') format('woff2'),
    url('fonts/303098_2_0.woff') format('woff'),
    url('fonts/303098_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-700';
    src: url('fonts/303098_5_0.eot'),
    url('fonts/303098_5_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/303098_5_0.woff2') format('woff2'),
    url('fonts/303098_5_0.woff') format('woff'),
    url('fonts/303098_5_0.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
}

[hidden] {
    // sass-lint:disable no-important
    display: none !important; // Overwrite default browser comportment
    // scss-lint:enable no-important
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    background: $globals-bg;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'MuseoSansRounded-100', Arial, sans-serif;
    font-size: $globals-font-size;
    font-weight: 200;

    &__pages {
        flex: 1;
        -webkit-overflow-scrolling: touch;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $globals-color;
    font-family: 'MuseoSansRounded-300', Arial, sans-serif;
}

input,
textarea,
keygen,
select,
button {
    font-family: 'MuseoSansRounded-500', Arial, sans-serif;
    font-size: $globals-font-size;
}
