
//------------------------------------------------------------------
// KEYFRAMES
//-------------------------------------------------------------------

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(450deg);
    }
}

@keyframes line {
    0% {
        transform: rotate(0);
        stroke-dasharray: 2, 85.964;
    }

    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        transform: rotate(90deg);
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
    }
}
