
//------------------------------------------------------------------
// MIXINS
//-------------------------------------------------------------------

@mixin clear {
    &:after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        font-size: 0;
        content: ' ';
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 500ms cubic-bezier(0, 0, .21, 1);
    opacity: 0;
    z-index: 1;
    margin: $header-height auto 0;
    padding: $globals-padding;
    will-change: opacity, scroll-position;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: $screen-sm) {
        padding: $globals-padding 30px;
    }

    @media (min-width: $screen-md) {
        left: $sidebar-content-width;
    }

    &.active {
        opacity: 1;
        z-index: 2;
        pointer-events: auto;
    }
}

@mixin title {
    text-align: center;
}

@mixin header-btn {
    position: relative;
    transition: $header-transition;
    opacity: .5;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-indent: -30000px;
    will-change: opacity;

    &:before {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        transition: $header-transition;
        opacity: 0;
        margin: auto;
        border-radius: 50%;
        background: $globals-transparency;
        padding: 4px;
        content: ' ';
        will-change: opacity;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        opacity: 1;
    }

    &:focus {
        &:before {
            opacity: 1;
        }
    }
}

@mixin card {
    position: relative;
    border-radius: 2px;
    box-shadow: $globals-card-shadow;
    background: $globals-card-bg;
}

@mixin chart {
    height: $globals-chart-xs-height;

    @media (min-width: $screen-sm) {
        height: $globals-chart-height;
    }
}

@mixin weeks-globals-item($color) {
    flex: 1;
    margin-right: 5px;
    border-radius: 2px;
    box-shadow: $globals-card-shadow;
    background-color: $color;
    padding: $globals-padding 5px;

    @media (min-width: $screen-sm) {
        margin-right: 30px;
        padding: $globals-padding;
    }

    &__value {
        margin-top: 5px;
        font-size: 14px;
    }

    &__label {
        margin-top: 5px;
        font-size: 12px;

        @media (min-width: $screen-sm) {
            font-size: 14px;
        }
    }
}

@mixin badge {
    display: inline-block;
    opacity: .2;
    border-radius: 6px;
    background: $globals-color;
    padding: 2px 5px;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
}
