
//------------------------------------------------------------------
// MIXINS
//-------------------------------------------------------------------

@mixin clear {
    &:after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        font-size: 0;
        content: ' ';
    }
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin page {
    //display: flex;
    position: absolute;
    //top: $header-height;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //width: 100%;
    margin-top: $header-height + 4px;
    padding: $globals-padding;
    opacity: 0;
    transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
    will-change: opacity, scroll-position;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

@mixin title {
    text-align: center;
}

@mixin header-btn {

    position: relative;
    transition: $header-transition;
    opacity: .54;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-indent: -30000px;
    will-change: opacity;

    &:hover,
    &:focus,
    &:active,
    &.active {
        opacity: 1;
    }

    &:focus {
        &:before {
            border-radius: 50%;
            background: rgba($black ,.22);
            top: -4px;
            left: -4px;
            bottom: -4px;
            right: -4px;
            margin: auto;
            padding: 4px;
            position: absolute;
            content: ' ';
        }
    }
}
