
//------------------------------------------------------------------
// VARIABLES
//-------------------------------------------------------------------

$white: #fff;
$globals-color: #2f3ba2;

$globals-padding-large: 30px;
$globals-padding: 15px;
$globals-padding-small: 8px;

// MEDIAS
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// HEADER
$header-height: 56px;
$header-bg: $globals-color;
$header-color: $white;

// SIDEBAR
$sidebar-zindex: 200;
