
//------------------------------------------------------------------
// VARIABLES
//-------------------------------------------------------------------

$white: #fff;
$black: #000;
$globals-red: #ff6384;
$globals-blue: #36a2eb;
$globals-yellow: #ffce56;
$globals-green: #44d279;
$globals-color: #362f5f; //#2f3ba2; //201929 //3a3248

$globals-bg: #fafafa;
$globals-transparency: rgba($black, .22);
$globals-padding-large: 30px;
$globals-font-size: 13px;
$globals-padding: 15px;
$globals-padding-small: 8px;
$globals-transition: all .233s cubic-bezier(0, 0, .21, 1) .1s;
$globals-process-color: $globals-yellow;
$globals-support-color: $globals-green;
$globals-project-color: $globals-red;
$globals-product-color: $globals-blue;
$globals-card-shadow: 0 2px 2px 0 rgba($black, .14), 0 3px 1px -2px rgba($black, .2), 0 1px 5px 0 rgba($black, .12);
$globals-card-bg: $white;
$globals-chart-xs-height: 250px;
$globals-chart-height: 180px;
$globals-border: 1px solid rgba($black, .14);

// MEDIAS
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// HEADER
$header-height: 56px;
$header-bg: $globals-color;
$header-color: $white;
$header-zindex: 10;
$header-transition: opacity .333s cubic-bezier(0, 0, .21, 1);
$header-shadow-1: rgba($black, .14);
$header-shadow-2: rgba($black, .12);
$header-shadow-3: rgba($black, .2);
$header-shadow: 0 4px 5px 0 $header-shadow-1, 0 2px 9px 1px $header-shadow-2, 0 4px 2px -2px $header-shadow-3;

// LOADER
$loader-spinner-color: $globals-color;
$loader-spinner-animation: line 1.6s cubic-bezier(.4, 0, .2, 1) infinite, rotate 1.6s linear infinite;

// SIDEBAR
$sidebar-zindex: 200;
$sidebar-transition: opacity .233s cubic-bezier(0, 0, .21, 1);
$sidebar-bg: $black;
$sidebar-content-width: 250px;
$sidebar-content-bg: $globals-bg;
$sidebar-content-transform: transform .233s cubic-bezier(0, 0, .21, 1);
$sidebar-content-shadow-1: rgba(0, 0, 0, .14);
$sidebar-content-shadow-2: rgba(0, 0, 0, .28);
$sidebar-title-color: $white;
$sidebar-button-color: #afafaf;
$sidebar-button-hover-color: $globals-color;
$sidebar-height-height: 140px;
$sidebar-footer-color: #999;

// CONNECT
$connect-svg-hover: #64b5f6;

// TEMPLATE CLIENT
$client-info-bg: rgba($globals-color, .1);
$client-highlight-color: rgba($globals-red, .2);

// PAGE CLIENTS
$clients-active-color: rgba($globals-color, .1);
