
//------------------------------------------------------------------
// PAGE CONNECT
//-------------------------------------------------------------------

.page-connect {
    @include page;

    &__button {
        display: block;
        margin: 100px auto;
        border: 0;
        background: transparent;
        cursor: pointer;
        padding: 0;

        &__text {
            margin-top: $globals-padding;
            color: $globals-color;
            font-size: 20px;
        }

        &__svg {
            &__round {
                transition: $globals-transition;
            }
        }

        &:hover,
        &:active,
        &.active,
        &:focus {
            outline: 0;

            .page-connect__button__svg__round {
                fill: darken($connect-svg-hover, 15%);
            }
        }
    }
}
