
//------------------------------------------------------------------
// CONNECT
//-------------------------------------------------------------------

.connect {
    @include page;

    margin-top: 40%;
    cursor: pointer;
    text-align: center;

    &__text {
        margin-top: $globals-padding;
        color: $globals-color;
        font-size: 20px;
    }
}
