
//------------------------------------------------------------------
// CONNECT
//-------------------------------------------------------------------

.connect {
    @include page;

    &__text {
        margin-top: $globals-padding;
        color: $globals-color;
        font-size: 20px;
    }
}
