
//------------------------------------------------------------------
// TOPIC TEMPLATE
//-------------------------------------------------------------------

.topic {
    @include card;

    &__header {
        padding: $globals-padding;

        &--clickable {
            cursor: pointer;
        }

        &__name {
            display: inline-block;
            position: relative;
            z-index: 1;
            border-radius: 15px;
            text-transform: capitalize;
            font-family: 'MuseoSansRounded-500', Arial, sans-serif;
            font-size: 16px;
        }

        &__total {
            display: inline-block;
            float: right;
            font-family: 'MuseoSansRounded-500', Arial, sans-serif;
            font-size: 16px;
        }

        &__date {
            display: block;
            margin-top: $globals-padding;
            font-size: 14px;
        }
    }

    &__cards {
        display: none;
        margin: 0 $globals-padding;
        padding-bottom: $globals-padding;

        &__cards-count {
            margin-bottom: $globals-padding;
            border-top: $globals-border;
            padding-top: $globals-padding;
            text-align: center;
        }
    }

    &.active {
        .topic__cards {
            display: block;
        }
    }
}
