<!-- Topic card -->
<div class="topic" js-template-topic hidden>
    <div class="topic__header" js-topic-header>
        <div class="topic__header__key" js-topic-key hidden></div>
        <div class="topic__header__last-updated" js-topic-last-updated hidden></div>
        <div class="topic__header__name" js-topic-name></div>
        <div class="topic__header__total">
            <div class="topic__header__total__spent"><span js-topic-spent></span></div>
        </div>
        <div class="topic__header__date">
            from
            <span class="topic__header__date__start" js-topic-start></span>
            to
            <span class="topic__header__date__end" js-topic-end></span>
        </div>
    </div>
    <div class="topic__cards">
        <div class="topic__cards__cards-count" js-topic-count></div>
        <div class="topic__cards__list" js-topic-cards></div>
    </div>
</div>
