
//------------------------------------------------------------------
// PAGE WEEKS
//-------------------------------------------------------------------

.page-weeks {
    @include page;

    &__header {
        display: flex;
        margin: $globals-padding 0;

        &__velocity {
            flex: 1;
            text-align: left;
        }

        &__count {
            flex: 1;
            text-align: right;
        }
    }

    &__globals {
        display: flex;
        margin: $globals-padding 0;
        text-align: center;
        color: $white;
        font-size: 18px;

        @media (min-width: $screen-sm) {
            font-size: 22px;
        }

        @media (min-width: $screen-md) {
            font-size: 32px;
        }

        &__process {
            @include weeks-globals-item($globals-process-color);
        }

        &__support {
            @include weeks-globals-item($globals-support-color);
        }

        &__project {
            @include weeks-globals-item($globals-project-color);
        }

        &__product {
            @include weeks-globals-item($globals-product-color);
            margin-right: 0;

            @media(min-width: $screen-sm) {
                margin-right: 0;
            }
        }
    }

    &__list {
        @include clear;
    }

    .week {
        margin: $globals-padding 0;

        @media (min-width: $screen-sm) {
            float: left;
            margin: $globals-padding 0 $globals-padding 2%;
            width: 48%;

            &:nth-child(2n + 1) {
                clear: both;
                margin: $globals-padding 2% $globals-padding 0;
            }
        }
    }
}
