
//------------------------------------------------------------------
// HEADER
//-------------------------------------------------------------------

.header {
    position: fixed;
    background: $header-bg;
    width: 100%;
    height: $header-height;
    color: $header-color;
}
