
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 333ms cubic-bezier(0, 0, .21, 1);
    transform: translate(-50%, -50%);

    &__spinner {
        animation: $loader-spinner-animation;
        box-sizing: border-box;
        stroke: $loader-spinner-color;
        stroke-width: 3px;
        transform-origin: 50%;
    }

    &.active {
        opacity: 1;
    }
}
