
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__spinner {
        animation: $loader-spinner-animation;
        box-sizing: border-box;
        stroke: $loader-spinner-color;
        stroke-width: 3px;
        transform-origin: 50%;
    }
}
