
//------------------------------------------------------------------
// MAIN
//-------------------------------------------------------------------

.main {
    z-index: 0;
    margin-top: $header-height;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
