<!-- Sidebar -->
<section class="sidebar" js-sidebar>
    <div class="sidebar__content" js-sidebar-content>

        <div class="sidebar__content__header">
            <div class="h1 sidebar__content__header__title"><!-- @echo APP_NAME --></div>
        </div>

        <div class="sidebar__content__body">
            <button class="sidebar__content__body__button" js-link="home">
                Home
            </button>
            <button class="sidebar__content__body__button" js-link="weeks">
                All weeks
            </button>
            <button class="sidebar__content__body__button" js-link="projects">
                All projects
            </button>
        </div>

        <div class="sidebar__content__footer">Version <!-- @echo RELEASE_TAG --></div>
    </div>
</section>
