
//------------------------------------------------------------------
// HOME
//-------------------------------------------------------------------

.home {
    @include page;
    @include clear;

    &__velocity,
    &__activity,
    &__weekly-activity,
    &__monthly-activity {
        float: left;
        margin-top: $globals-padding;
        padding: 0 $globals-padding;
        width: 100%;

        @media (min-width: $screen-sm) {
            float: left;
            margin-top: $globals-padding;
            width: 50%;
        }

        &__title {
            margin-bottom: $globals-padding;
            text-align: center;
        }

        &__chart {
            @include chart;
        }
    }

    &__weekly-activity,
    &__monthly-activity {
        @media (min-width: $screen-sm) {
            margin-top: 30px;
            width: 100%;
        }
    }
}
