
//------------------------------------------------------------------
// PROJECT TEMPLATE
//-------------------------------------------------------------------

.project {
    @include card;

    &__header {
        padding: $globals-padding;

        &--clickable {
            cursor: pointer;
        }

        &__name {
            display: inline-block;
            position: relative;
            z-index: 1;
            border-radius: 15px;
            padding: 6px 0;
            font-family: 'MuseoSansRounded-500', Arial, sans-serif;
            font-size: 16px;
        }

        &__total {
            float: right;
            padding-top: 5px;
            font-family: 'MuseoSansRounded-500', Arial, sans-serif;
            font-size: 16px;
            text-align: right;
        }

        &__infos {
            display: flex;
            margin-top: $globals-padding;
            text-align: center;

            &__imple,
            &__review {
                flex: 1;
                border-radius: 2px;
                margin-right: 5px;
                background: $project-info-bg;
                padding: 10px;

                &__label {
                    display: block;
                    margin-bottom: 5px;
                }

                &__value {
                    margin-bottom: $globals-padding;
                    font-size: 22px;
                }

                &--inactive {
                    opacity: .2;
                }

                &--highlight {
                    background: rgba($globals-red, .3);
                }
            }

            &__imple,
            &__review {
                &__start {
                    @media (min-width: $screen-sm) {
                        float: left;
                        width: 50%;
                        text-align: left;
                    }
                }

                &__end {
                    @media (min-width: $screen-sm) {
                        float: right;
                        width: 50%;
                        text-align: right;
                    }
                }
            }

            &__review {
                margin-right: 0;
                margin-left: 5px;
            }
        }
    }

    &__cards {
        transition: $globals-transition;
        margin: 0 $globals-padding;
        max-height: 0;
        overflow: hidden;

        &__cards-count {
            margin-bottom: $globals-padding;
            border-top: $week-border;
            padding-top: $globals-padding;
            text-align: center;
        }
    }

    &.active {
        .project__header__activity {
            &__monitoring,
            &__support,
            &__delivery,
            &__product {
                &__points {
                    max-height: 100px;
                }
            }
        }

        .project__cards {
            padding-bottom: $globals-padding;
            max-height: 800px;
        }
    }
}
