<!-- Project card -->
<div class="project" js-template-project hidden>
    <div class="project__header" js-project-header>
        <div class="project__header__key" js-project-key hidden></div>
        <div class="project__header__name" js-project-name></div>
        <div class="project__header__last-updated" js-project-last-updated hidden></div>
        <div class="project__header__date">
            from
            <span class="project__header__date__start" js-project-start></span>
            to
            <span class="project__header__date__end" js-project-end></span>
        </div>
        <div class="project__header__total">
            <div class="project__header__total__spent">Spent: <span js-project-spent></span></div>
        </div>
        <div class="project__header__infos">
            <div class="project__header__infos__imple">
                <span class="project__header__infos__imple__label">Implementation:</span>
                <span class="project__header__infos__imple__value" js-project-imple></span>
            </div>
            <div class="project__header__infos__review">
                <span class="project__header__infos__review__label">Review:</span>
                <span class="project__header__infos__review__value" js-project-review></span>
            </div>
        </div>
    </div>
    <div class="project__cards">
        <div class="project__cards__cards-count" js-project-count></div>
        <div class="project__cards__list" js-project-cards></div>
    </div>
</div>
