<!-- Project card -->
<div class="project" js-template-project hidden>
    <div class="project__header" js-project-header>
        <div class="project__header__key" js-project-key hidden></div>
        <div class="project__header__name" js-project-name></div>
        <div class="project__header__last-updated" js-project-last-updated hidden></div>
        <div class="project__header__total">
            <div class="project__header__total__spent"><span js-project-spent></span></div>
        </div>
        <div class="project__header__infos">
            <div class="project__header__infos__imple" js-project-imple>
                <div class="project__header__infos__imple__label">Implementation</div>
                <div class="project__header__infos__imple__value" js-project-imple-value></div>
                <div class="project__header__infos__imple__start">
                    <span class="project__header__infos__imple__start__label">Start: </span>
                    <span class="project__header__infos__imple__start__value" js-project-imple-start></span>
                </div>
                <div class="project__header__infos__imple__end">
                    <span class="project__header__infos__imple__end__label">End: </span>
                    <span class="project__header__infos__imple__end__value" js-project-imple-end></span>
                </div>
            </div>
            <div class="project__header__infos__review" js-project-review>
                <div class="project__header__infos__review__label">Reviews</div>
                <div class="project__header__infos__review__value" js-project-review-value></div>
                <div class="project__header__infos__review__start">
                    <span class="project__header__infos__review__start__label">Start: </span>
                    <span class="project__header__infos__review__start__value" js-project-review-start></span>
                </div>
                <div class="project__header__infos__review__end">
                    <span class="project__header__infos__review__end__label">End: </span>
                    <span class="project__header__infos__review__end__value" js-project-review-end></span>
                </div>
            </div>
        </div>
    </div>
    <div class="project__cards">
        <div class="project__cards__cards-count" js-project-count></div>
        <div class="project__cards__list" js-project-cards></div>
    </div>
</div>
