<!-- Project card -->
<div class="project" js-template-project hidden>
    <div class="project__header" js-project-header>
        <div class="project__header__key" js-project-key hidden></div>
        <div class="project__header__name" js-project-name></div>
        <div class="project__header__last-updated" js-project-last-updated hidden></div>
        <div class="project__header__total">
            <div class="project__header__total__spent"><span js-project-spent></span></div>
        </div>
        <div class="project__header__infos">
            <div class="project__header__infos__imple" js-project-imple>
                <span class="project__header__infos__imple__label">Implementation</span>
                <span class="project__header__infos__imple__value" js-project-imple-value></span>
                <span class="project__header__infos__imple__start" hidden js-project-imple-start></span>
                <span class="project__header__infos__imple__end" hidden js-project-imple-end></span>
            </div>
            <div class="project__header__infos__review" js-project-review>
                <span class="project__header__infos__review__label">Reviews</span>
                <span class="project__header__infos__review__value" js-project-review-value></span>
                <span class="project__header__infos__review__count" hidden js-project-review-count></span>
            </div>
        </div>
    </div>
    <div class="project__cards">
        <div class="project__cards__cards-count" js-project-count></div>
        <div class="project__cards__list" js-project-cards></div>
    </div>
</div>
