<!-- Client card -->
<div class="client" js-template-client hidden>
    <div class="client__header" js-client-header>
        <div class="client__header__key" js-client-key hidden></div>
        <div class="client__header__name">
            <span class="client__header__name__text" js-client-name></span>
            <span class="client__header__name__live" js-client-live hidden>Live</span>
        </div>
        <div class="client__header__last-updated" js-client-last-updated hidden></div>
        <div class="client__header__total">
            <div class="client__header__total__spent"><span js-client-spent></span></div>
        </div>
        <div class="client__header__infos">
            <div class="client__header__infos__imple" js-client-imple>
                <div class="client__header__infos__imple__label">Implementation</div>
                <div class="client__header__infos__imple__value" js-client-imple-value></div>
                <div class="client__header__infos__imple__weeks" js-client-imple-weeks></div>
                <div class="client__header__infos__imple__start">
                    <span class="client__header__infos__imple__start__label">Start: </span>
                    <span class="client__header__infos__imple__start__value" js-client-imple-start></span>
                </div>
                <div class="client__header__infos__imple__end">
                    <span class="client__header__infos__imple__end__label">End: </span>
                    <span class="client__header__infos__imple__end__value" js-client-imple-end></span>
                </div>
            </div>
            <div class="client__header__infos__review" js-client-review>
                <div class="client__header__infos__review__label">Reviews</div>
                <div class="client__header__infos__review__value" js-client-review-value></div>
                <div class="client__header__infos__review__weeks" js-client-review-weeks></div>
                <div class="client__header__infos__review__start">
                    <span class="client__header__infos__review__start__label">Start: </span>
                    <span class="client__header__infos__review__start__value" js-client-review-start></span>
                </div>
                <div class="client__header__infos__review__end">
                    <span class="client__header__infos__review__end__label">End: </span>
                    <span class="client__header__infos__review__end__value" js-client-review-end></span>
                </div>
            </div>
        </div>
    </div>
    <div class="client__cards">
        <div class="client__cards__cards-count" js-client-count></div>
        <div class="client__cards__list" js-client-cards></div>
    </div>
</div>
